{% extends 'base.html' %}

{% block title %}
    Question {{ question_num }}
{% endblock %}

{% block content %}
<form action="/answer" method="POST">
    <h1>{{ current_question }}</h1>
    {% for choice in choices %}
    <div>
        <input type="radio" name="radio-question" id="{{ choice }}" value="{{ choice }}">
        <label for="{{ choice }}"><b>{{ choice }}</b></label>
    </div>
    {% endfor %}
    <button type="submit">Submit</button>
</form>
{% with messages = get_flashed_messages(with_categories=True) %}
{% if messages %}
    {% for category, msg in messages %}
        <h1 class="{{ category }}">Invalid Question!!! Please answer the current question.</h1>
    {% endfor %}
{% endif %}
{% endwith %}
{% endblock %}
